* {
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.profile_picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #ff0077;
    padding: 8px;
}

.user_name {
    text-align: center;
    margin-top: 16px;
} 

.user_name p {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #000;
}